:root,
[data-theme="dark"] {
    /* Catppuccin Mocha */
    --canvas-bg: #1e1e2e; /* Base */
    --primary-txt: #cdd6f4; /* Text */
    --pastel-accent: #f5c2e7; /* Pink */
    --widget-border: #cba6f7; /* Mauve */
    --surface-layer: #313244; /* Surface0 */

    /* Shiki code block tokens */
    --astro-code-color-text: var(--primary-txt);
    --astro-code-color-background: var(--surface-layer);
    --astro-code-token-constant: var(--pastel-accent); /* Pink */
    --astro-code-token-string: #a6e3a1; /* Green */
    --astro-code-token-comment: #6c7086; /* Overlay0 */
    --astro-code-token-keyword: var(--widget-border); /* Mauve */
    --astro-code-token-parameter: var(--primary-txt);
    --astro-code-token-function: #89b4fa; /* Blue */
    --astro-code-token-string-expression: #a6e3a1; /* Green */
    --astro-code-token-punctuation: #9399b2; /* Overlay2 */
    --astro-code-token-link: #89b4fa; /* Blue */
}

[data-theme="light"] {
    /* Catppuccin Latte */
    --canvas-bg: #eff1f5; /* Base */
    --primary-txt: #4c4f69; /* Text */
    --pastel-accent: #ea76cb; /* Pink */
    --widget-border: #8839ef; /* Mauve */
    --surface-layer: #ccd0da; /* Surface0 */

    --astro-code-color-text: var(--primary-txt);
    --astro-code-color-background: var(--surface-layer);
    --astro-code-token-constant: #ea76cb; /* Pink */
    --astro-code-token-string: #40a02b; /* Green */
    --astro-code-token-comment: #6c6f85; /* Subtext0 */
    --astro-code-token-keyword: #8839ef; /* Mauve */
    --astro-code-token-parameter: var(--primary-txt);
    --astro-code-token-function: #1e66f5; /* Blue */
    --astro-code-token-string-expression: #40a02b; /* Green */
    --astro-code-token-punctuation: #5c5f77; /* Overlay2 */
    --astro-code-token-link: #1e66f5; /* Blue */
}
